<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Dashboard</title>

<div th:replace="fragments/base :: assetsHead"></div>

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid" style="margin-left:250px;padding:30px;">

<h2 class="mb-4">Dashboard</h2>

<div class="row">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Products</h5>

<h3 th:text="${totalProducts}"></h3>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Inventory</h5>

<h3 th:text="${totalInventory}"></h3>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Centers</h5>

<h3 th:text="${totalCenters}"></h3>

</div>

</div>

</div>

</div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/base :: assetsScripts"></div>

</body>

</html>