<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Product</title>
<div th:replace="fragments/base :: assetsHead"></div>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="main-content">

<div class="container mt-5" style="max-width:700px;">

<h2 class="mb-4">Add Product</h2>

<div class="card shadow">
<div class="card-body">

<form th:action="@{/products/save}" th:object="${product}" method="post">

<div class="mb-3">
<label class="form-label">Name</label>
<input type="text" class="form-control" th:field="*{name}">
</div>

<div class="mb-3">
<label class="form-label">Price</label>
<input type="number" class="form-control" th:field="*{price}">
</div>

<div class="mb-3">
<label class="form-label">Quantity</label>
<input type="number" class="form-control" th:field="*{quantity}">
</div>

<div class="mb-3">
<label class="form-label">Brand</label>
<select class="form-select" th:field="*{brand}">
<option value="">Select Brand</option>
<option th:each="b : ${brands}"
        th:value="${b.brandId}"
        th:text="${b.name}">
</option>
</select>
</div>

<div class="mb-3">
<label class="form-label">Category</label>
<select class="form-select" th:field="*{category}">
<option value="">Select Category</option>
<option th:each="c : ${categories}"
        th:value="${c.categoryId}"
        th:text="${c.name}">
</option>
</select>
</div>

<button class="btn btn-success">Save Product</button>

</form>

</div>
</div>

</div>

</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/base :: assetsScripts"></div>

</body>
</html>